In [4]:
#dependencies
import os
import pandas as pd
import numpy as np

In [5]:
#load in data
file = os.path.join('purchase_data.json')
pur_df = pd.read_json(file)
pur_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [6]:
#show total number of players only
total_players = len(pur_df['SN'].unique())
total_players_df = pd.DataFrame([{'Total Players': total_players}])
total_players_df.set_index('Total Players', inplace = True)
total_players_df

Empty DataFrame
Columns: []
Index: [573]

In [7]:
#purcahse analysis (total)

#number of unique items
no_multiples = pur_df.drop_duplicates(['Item ID'], keep = 'last')
total_unique = len(no_multiples)

#total number of purchases
total_pur = pur_df['Price'].count

#total revenue
total_rev = round(pur_df['Price'].sum(),2)

#average purchase price (total revenue/total purchases)
avg_price = round(total_rev/total_pur(), 2)


#create data frame
pur_analysis = pd.DataFrame([{
    
    "Number of Unique Items": total_unique,
    'Average Purchase Price': avg_price,
    'Total Purchases': total_pur,
    'Total Revenue': total_rev}])

#check data frame
print(pur_analysis)

   Average Purchase Price  Number of Unique Items  \
0                    2.93                     183

                                     Total Purchases  Total Revenue
0  <bound method Series.count of 0      3.37\n1  ...        2286.33

In [8]:
#format purchase analysis (total) data
pur_analysis.style.format({'Average Purchase Price': '${:.2f}', 'Total Revenue': '${:,.2f}'})

In [9]:
#Gender Demographics

In [10]:
# Percentage and count of players 
no_dup_players = pur_df.drop_duplicates(['SN'], keep ='last')
gender_count = no_dup_players['Gender'].value_counts().reset_index()
gender_count['% of Players'] = gender_count['Gender']/total_players * 100
#rename columns
gender_count.rename(columns = {'index': 'Gender', 'Gender': '# of Players'}, inplace = True)
#fix index
gender_count.set_index(['Gender'], inplace = True)
gender_count.style.format({"% of Players": "{:.1f}%"})

In [11]:
#Purchasing Analysis (Gender)

In [12]:
#purchase count by gender
pur_count_gen = pd.DataFrame(pur_df.groupby('Gender')['Gender'].count())

In [13]:
#Total Purchase Value
total_pur_val_gen = pd.DataFrame(pur_df.groupby('Gender')['Price'].sum())

In [14]:
#merge purchase count and total value
pur_analysis_gen = pd.merge(pur_count_gen, total_pur_val_gen, left_index = True, right_index = True)

In [15]:
#rename columns
pur_analysis_gen.rename(columns = {'Gender': '# of Purchases', 'Price':'Total Purchase Value'}, inplace=True)

In [16]:
#new column - average purchase price
pur_analysis_gen['Average Purchase Price'] = pur_analysis_gen['Total Purchase Value']/pur_analysis_gen['# of Purchases']

In [17]:
#add gender count
pur_analysis_gen = pur_analysis_gen.merge(gender_count, left_index = True, right_index = True)

In [18]:
#normalized totals (total purchase value/unique # of players by gender)
pur_analysis_gen['Normalized Totals'] = pur_analysis_gen['Total Purchase Value']/pur_analysis_gen['# of Players']
pur_analysis_gen

,# of Purchases,Total Purchase Value,Average Purchase Price,# of Players,% of Players,Normalized Totals
Gender,,,,,,
Female,136,382.91,2.815515,100,17.452007,3.829100
Male,633,1867.68,2.950521,465,81.151832,4.016516
Other / Non-Disclosed,11,35.74,3.249091,8,1.396161,4.467500

In [19]:
#remove number/percent of players. we don't need those columns.
del pur_analysis_gen['% of Players']
del pur_analysis_gen['# of Players']
pur_analysis_gen

,# of Purchases,Total Purchase Value,Average Purchase Price,Normalized Totals
Gender,,,,
Female,136,382.91,2.815515,3.829100
Male,633,1867.68,2.950521,4.016516
Other / Non-Disclosed,11,35.74,3.249091,4.467500

In [20]:
#fix formatting
pur_analysis_gen.style.format({'Total Purchase Value': '${:.2f}', 'Average Purchase Price': '${:.2f}', 'Normalized Totals': '${:.2f}'})

In [21]:
#age demographics

In [22]:
#create rows based on age ranges
pur_df.loc[(pur_df['Age'] < 10), 'age_bin'] = "< 10"
pur_df.loc[(pur_df['Age'] >= 10) & (pur_df['Age'] <= 14), 'age_bin'] = "10 - 14"
pur_df.loc[(pur_df['Age'] >= 15) & (pur_df['Age'] <= 19), 'age_bin'] = "15 - 19"
pur_df.loc[(pur_df['Age'] >= 20) & (pur_df['Age'] <= 24), 'age_bin'] = "20 - 24"
pur_df.loc[(pur_df['Age'] >= 25) & (pur_df['Age'] <= 29), 'age_bin'] = "25 - 29"
pur_df.loc[(pur_df['Age'] >= 30) & (pur_df['Age'] <= 34), 'age_bin'] = "30 - 34"
pur_df.loc[(pur_df['Age'] >= 35) & (pur_df['Age'] <= 39), 'age_bin'] = "35 - 39"
pur_df.loc[(pur_df['Age'] >= 40), 'age_bin'] = "> 40"

In [25]:
#pur_data[['age_bin', 'Age']].count() to check

In [28]:
# count purchases by age bin - usingscreen names (non-unique)
pur_count_age = pd.DataFrame(pur_df.groupby('age_bin')['SN'].count())

In [29]:
#find averageg price of purchases by age bin
avg_price_age = pd.DataFrame(pur_df.groupby('age_bin')['Price'].mean())

In [30]:
#finds total purchase value by age bin
tot_pur_age = pd.DataFrame(pur_df.groupby('age_bin')['Price'].sum())

In [31]:
#delete duplicate screen names while only keeping last, then counts # of unique players by age bin
no_dup_age = pd.DataFrame(pur_df.drop_duplicates('SN', keep = 'last').groupby('age_bin')['SN'].count())

In [32]:
#merge
merge_age = pd.merge(pur_count_age, avg_price_age, left_index = True, right_index = True).merge(tot_pur_age, left_index = True, right_index = True).merge(no_dup_age, left_index = True, right_index = True)

In [33]:
#renames column
merge_age.rename(columns = {"SN_x": "# of Purchases", "Price_x": "Average Purchase Price", "Price_y": "Total Purchase Value", "SN_y": "# of Purchasers"}, inplace = True)

In [34]:
#calculates normalized totals
merge_age['Normalized Totals'] = merge_age['Total Purchase Value']/merge_age['# of Purchasers']

In [35]:
#fix index and format
merge_age.index.rename("Age", inplace = True)
merge_age.style.format({'Average Purchase Price': '${:.2f}', 'Total Purchase Value': '${:.2f}', 'Normalized Totals': '${:.2f}'})

In [36]:
#top spenders
#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

In [42]:
#Group by sn to find, total purchase per person, number of purchases per person, and average price price per person
purchase_amt_by_SN = pd.DataFrame(pur_df.groupby('SN')['Price'].sum())
num_purchase_by_SN = pd.DataFrame(pur_df.groupby('SN')['Price'].count())
avg_purchase_by_SN = pd.DataFrame(pur_df.groupby('SN')['Price'].mean())

#merge df's
merged_top5 = pd.merge(purchase_amt_by_SN, num_purchase_by_SN, left_index = True, right_index = True).merge(avg_purchase_by_SN, left_index=True, right_index=True)

In [43]:
# rename columns
merged_top5.rename(columns = {'Price_x': 'Total Purchase Value', 'Price_y':'Purchase Count', 'Price':'Average Purchase Price'}, inplace = True)

In [44]:
#sort highest to lowest purchase value
merged_top5.sort_values('Total Purchase Value', ascending = False, inplace=True)

In [45]:
#fix formatting
merged_top5 = merged_top5.head()
merged_top5.style.format({'Total Purchase Value': '${:.2f}', 'Average Purchase Price': '${:.2f}'})

In [46]:
#Most Popular Items
#Identify the 5 most popular items by purchase count, then list (in a table)

In [47]:
# get a count of each item by grouping by Item ID and number of occurances
top5_items_ID = pd.DataFrame(pur_df.groupby('Item ID')['Item ID'].count())

In [49]:
#sort from high to low total purchase count
top5_items_ID.sort_values('Item ID', ascending = False, inplace = True)

In [53]:
#keep the first 5 rows
top5_items_ID = top5_items_ID.iloc[0:5][:]
#top5_items_ID

In [55]:
#total purchase value of each item
top5_items_total = pd.DataFrame(pur_df.groupby('Item ID')['Price'].sum())
#top5_items_ID

In [88]:
#merge purcahse count with total purcahse value and drop dups
top5_items = pd.merge(top5_items_ID, top5_items_total, left_index = True, right_index = True)
no_dup_items = pur_df.drop_duplicates(['Item ID'], keep = 'last')
#top5_items

In [94]:
# merge to get all other info from the top 5 using the no dup df
top5_merge_ID = pd.merge(top5_items, no_dup_items, left_index = True, right_on = 'Item ID')
top5_items_ID = top5_merge_ID[['Item ID', 'Item Name', 'Item ID_x', 'Price_y', 'Price_x']]
top5_merge_ID.set_index(['Item ID'], inplace = True)
top5_merge_ID.rename(columns =  {'Item ID_x': 'Purchase Count', 'Price_y': 'Item Price', 'Price_x': 'Total Purchase Value'}, inplace=True)
top5_merge_ID.style.format({'Item Price': '${:.2f}', 'Total Purchase Value': '${:.2f}'})

In [78]:
#Most Profitable Items - Identify the 5 most profitable items by total purchase value, then list (in a table)

In [100]:
top_5_profit = pd.DataFrame(pur_df.groupby('Item ID')['Price'].sum())
top_5_profit.sort_values('Price', ascending = False, inplace = True)
top_5_profit = top_5_profit.iloc[0:5][:]
pur_count_profit = pd.DataFrame(pur_df.groupby('Item ID')['Item ID'].count())

top_5_profit = pd.merge(top_5_profit, pur_count_profit, left_index = True, right_index = True, how = 'left')
top_5_merge_profit = pd.merge(top_5_profit, no_dup_items, left_index = True, right_on = 'Item ID', how = 'left')
top_5_merge_profit = top_5_merge_profit[['Item ID', 'Item Name', 'Item ID_x', 'Price_y','Price_x']]
top_5_merge_profit.set_index(['Item ID'], inplace=True)
top_5_merge_profit.rename(columns = {'Item ID_x': 'Purchase Count', 'Price_y': 'Item Price', 'Price_x': 'Total Purchase Value'}, inplace = True)
top_5_merge_profit.style.format({'Item Price': '${:.2f}', 'Total Purchase Value': '${:.2f}'})