In [4]:
#dependencies
import os
import pandas as pd
import numpy as np

In [7]:
#load in data
file = os.path.join('purchase_data.json')
pur_df = pd.read_json(file)
pur_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [8]:
#show total number of players only
total_players = len(pur_df['SN'].unique())
total_players_df = pd.DataFrame([{'Total Players': total_players}])
total_players_df.set_index('Total Players', inplace = True)
total_players_df

Empty DataFrame
Columns: []
Index: [573]

In [9]:
#purcahse analysis (total)

#number of unique items
no_multiples = pur_df.drop_duplicates(['Item ID'], keep = 'last')
total_unique = len(no_multiples)

#total number of purchases
total_pur = pur_df['Price'].count

#total revenue
total_rev = round(pur_df['Price'].sum(),2)

#average purchase price (total revenue/total purchases)
avg_price = round(total_rev/total_pur(), 2)


#create data frame
pur_analysis = pd.DataFrame([{
    
    "Number of Unique Items": total_unique,
    'Average Purchase Price': avg_price,
    'Total Purchases': total_pur,
    'Total Revenue': total_rev}])

#check data frame
print(pur_analysis)

   Average Purchase Price  Number of Unique Items  \
0                    2.93                     183

                                     Total Purchases  Total Revenue
0  <bound method Series.count of 0      3.37\n1  ...        2286.33

In [10]:
#format purchase analysis (total) data
pur_analysis.style.format({'Average Purchase Price': '${:.2f}', 'Total Revenue': '${:,.2f}'})

In [ ]:
#Gender Demographics

In [20]:
# Percentage and count of players 
no_dup_players = pur_df.drop_duplicates(['SN'], keep ='last')
gender_count = no_dup_players['Gender'].value_counts().reset_index()
gender_count['% of Players'] = gender_count['Gender']/total_players * 100
#rename columns
gender_count.rename(columns = {'index': 'Gender', 'Gender': '# of Players'}, inplace = True)
#fix index
gender_count.set_index(['Gender'], inplace = True)
gender_count.style.format({"% of Players": "{:.1f}%"})

In [16]:
#Purchasing Analysis